body{
background-color: black;
}

.rug-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rug-grid img{
    flex: 0 0;
    width: 100%;
}



@media screen and (max-width: 500px) {
    .rug-container {
            width: 50%;
            height: 100%;
        }
}