nav {
  text-align: center;
  background-color: #51d2e0;
}

.sticky-top {
  background-color: #51d2e0;
}

.videos{
    display: flex;
    justify-content: center;
    margin: 4%;
}


.col img {
    width: 100%;
    height: 100%;
}

#welcome {
  margin-top: 5%;
  padding: 10px;
  text-align: center;
}

.col {
  text-align: center;
  max-width: 200px;
  position: relative;
  color: black;
  /* border: 2px solid black; */
}

.gallery{
    background-image: url('../images/kaytranada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.image-text {
  position: absolute;
  top: 45%;
  left: 40%;
}

.rug-pic{
  max-width:500px;
  max-height: 300px;
  flex: 25%;
}